{deps, [
 %       {cowboy, "1.0.1"}, % package
	{idna, {git, "git://github.com/benoitc/erlang-idna.git", {branch, "master"}}},
	{proper, {git, "git://github.com/proper-testing/proper.git", {branch, "master"}}},
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}}, % alternatively, source
        {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
	{riakc, "2.5.*", {git, "https://github.com/basho/riak-erlang-client", {tag, "2.5.1"}}},
	{couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", {branch, "master"}}},
	{metrics, "1.0.1"}]}.
{plugins, [riak_pb_msgcodegen]}.

{overrides,
 [
  {override, rebar3_protobuffs_plugin, [{deps, [ {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]},

  {override, protobuffs, [{deps, []}]},

  {override, riak_pb, [{plugins, [{riak_pb_msgcodegen,
                                   {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
                                    {branch, "master"}}},
                                  {rebar3_protobuffs_plugin,
                                   {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin",
                                    {tag, "0.1.1"}}}]},
                       {provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                                                {compile, riak_pb_msgcodegen}]}]}]},
  {override, jiffy, [{plugins, [pc]},
		     {artifacts, ["priv/jiffy.so"]},
		     {provider_hooks, [{post, [{compile, {pc, compile}},
					       {clean, {pc, clean}}]}]}]}]}.
